header {
  // top: 0;
  // position: sticky;
  padding: .5rem 0;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  z-index: 99;
  background: $white;
}

.nav-btn {
  padding: .5rem;
  cursor: pointer;
}

.hlink {
  display: inline-block;
  padding: .5rem 0;
}

.inner {
  @include contain();
  position: relative;
}

section {
  padding-top: 1rem;
}

footer {
  min-height: 10rem;
  background: $black;
  color: $white;
  padding: 1rem 0;

  a {
    color: $white;
    text-decoration: none;
  }
}