.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.77);
  pointer-events: none;
  z-index: 100;

  &.show {
    display: block;
    pointer-events: all;
  }

  .modal-movie-title {
    background: rgba(0, 0, 0, 0.5);
    color: $white;
    font-family: 'Montserrat', Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 200;
  }
}